{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">管理者（かんりしゃ）</h1>
    <p class="col-md-8 fs-4">Review and add quiz questions and results.</p>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br />
        {% for nested in form.questions %}
            <b>{{ nested.question_id.label }}</b> {{ nested.question_id.data }} <b>{{ nested.question.label }}</b>{{ nested.question }} <b>{{ nested.answer.label }}</b> {{ nested.answer }} <b>{{ nested.result.label }}</b> {{ nested.result }} <b>{{ nested.comment.label }}</b> {{ nested.comment }} <b>{{ nested.result_comment.label }}</b> {{ nested.result_comment.data }}
            <br />
            {% if nested.question_image.data != None %}
              <b>{{ nested.question_image.label }}</b>{{ nested.question_image }}<img src="{{ url_for('static', filename='images/' ~ nested.question_image.data) }}" class="quizimg" alt="">
              <br />
            {% endif %}
            {% if nested.answer_image.data != None %}
              <b>{{ nested.answer_image.label }}</b>{{ nested.answer_image }}<img src="{{ url_for('static', filename='images/' ~ nested.answer_image.data) }}" class="quizimg" alt="">
              <br />
            {% endif %}
            <br />
        {% endfor %}
        <button>Submit</button>
    </form>
  </div>
</div>
{% endblock %}
