{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Answers</h1>
    <p class="col-md-8 fs-4">{{ name }}さん、答えは以下です。</p>

    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <br />
      {% for nested in form.questions %}
          {{ nested.question_id.label }}{{ nested.question_id(readonly=true) }}{{ nested.question.label }}{{ nested.question(readonly=true)  }}{{ nested.answer.label }}{{ nested.answer(readonly=true)  }}{{ nested.result.label }}{{ nested.result }}
          <br />
          <br />
      {% endfor %}
      <button>Submit</button>
    </form>
  </div>
</div>
{% endblock %}
