{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">こんにちは、{{name}}さん</h1>
    <p class="col-md-8 fs-4">This app is a place where to get your kanji quizzes. Tell me what you think!</p>
    <h2>Instructions</h2>
    <p>When you are ready to start the quiz, click 質問. ONLY WHEN YOU ARE DONE, click the 答え button.</p>

    <!-- Button trigger modal
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
    </button>-->



  </div>
</div>
{% endblock %}
