{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Questions</h1>
    <p class="col-md-8 fs-4">Here are the questions, {{ name }}さん. </p>
    <p class="col-md-8 fs-4">Write them in your answer sheet.</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br />
        {% for nested in form.questions %}
            {{ nested.question_id.label }}{{ nested.question_id }}{{ nested.question.label }}{{ nested.question }}{{ nested.answer.label }}{{ nested.answer }}
            <br />
        {% endfor %}
        <button>Submit</button>
    </form>
  </div>
</div>
{% endblock %}
