{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Questions</h1>
    <p class="col-md-8 fs-4">Here are the questions, {{ name }}さん. </p>
    <p class="col-md-8 fs-4">Write them in your answer sheet.</p>
    <ol>
        {% for nested in question_set %}
              <!-- <td>{{ nested.question_id }}</td> -->
              <li>
                <div class="quiztext">{{ nested.question }}</div>
                {% if nested.question_image %}
                  <img src="{{ nested.question_image }}" class="quizimg" alt="">
                {% endif %}
              </li>
        {% endfor %}
    </ol>
    </table>
    <br>
    <p>クイズが終わったら上の「答え」をクリックしてください。</p>
  </div>
</div>
{% endblock %}
